body{
    background-color: antiquewhite;
    margin:auto;
    height: 100vh;
    width: 100vw;
    font-size: large;
    font-family: cursive;
    color: floralwhite;
}
#container{
    margin: auto;
    width: fit-content;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 5px;
    column-gap: 5px;
}
#container>section{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: saddlebrown;
}
#counting{
    margin-top: 50px;
    text-align: center;
    color: saddlebrown;
}