.outer-border{
    border: solid lightgray 4px;
    height: 500px;
    width: 500px;
    border-radius: 250px;
    margin: auto;
    margin-top: 70px;
}
.middle-border{
    height: 380px;
    border: solid black 60px;
    width: 380px;
    border-radius: 247px;
}
.inner-border{
    height: 374px;
    width: 374px;
    border: solid white 3px;
    border-radius: 188px;
    box-shadow: 0 0 6px 5px lightgrey inset;
}
#hour{
    position: relative;
    top: 90px;
    left: 187px;
    background: black;
    height: 100px;
    width: 6px;
    /* transform: rotate(360deg); */
    transform-origin: bottom;
}
#minute{
    position: relative;
    top: -40px;
    left: 188px;
    background: black;
    height: 130px;
    width: 4px;
    /* transform: rotate(225deg); */
    transform-origin: bottom;
}
#second{
    position: relative;
    top: -200px;
    left: 189px;
    background: black;
    height: 160px;
    width: 2px;
    /* transform: rotate(104deg); */
    transform-origin: bottom;
}