*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(chocolates.png);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}
#app{
	margin:50px auto;
	width: 80%;
	align-content: center;
    font-family: -webkit-pictograph;
}
#container{
    border: 2px solid saddlebrown;
}
h1{
    color: lightyellow;
    background: saddlebrown;
}
.fa-plus{
    float: right;
    position: relative;
    top: 7px;
}
#todoInput{
    color: saddlebrown;
    font-family: cursive;
    width: -webkit-fill-available;
    height: 40px;
    font-size: 20px;
    border: none;
}
#todoInput:focus{
    outline: 0;
    height: 39px;
    border-bottom: 1px solid saddlebrown;
}
li{
    color: darkslategray;
    font-size: 19px;
    list-style: none;
    font-family: cursive;
    background-color: floralwhite;
}
.fa-trash{
    padding: 10px;
    display: none;
    color: rgb(245, 56, 56);
}
li:hover .fa-trash{
    display: inline;
}
.fa-check{
    font-size: 25px;
    float: right;
    padding: 5px;
    display: none;
}
.selected{
    display: inline;
    color: green;
}
h1, #todoInput, li{
    padding: 12px;
}