.calHeading{
    text-align: center;
    margin: 30px;
    font-size: 40px;
    font-family: fangsong;
}
.calInput{
    width: calc(90% - 40px);
    padding: 20px;
    margin: 30px auto;
    background: lemonchiffon;
    box-shadow: 20px 20px 21px #aaaaaa, -20px -20px 21px #ffffff;
    border-radius: 60px;
}
.calContainer {
    width: 90%;
    padding: 15px 0px;
    margin: 10px auto;
    background: antiquewhite;
    box-shadow: 20px 20px 21px #aaaaaa, -20px -20px 21px #ffffff;
    border-radius: 18px;
}
.calCard {
    width: 80%;
    margin: 10px auto;
    padding: 10px 30px 25px;
    font-family: -webkit-pictograph;
    background: lemonchiffon;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #ccb99f, -5px -5px 10px antiquewhite;    
}
.calDelBtn, .calAddBtn{
    float: right;
    background: #ffdf85;
    padding: 11px;
    border: none;
    border-radius: 100px;
    width: 100px;
    font-family: -webkit-pictograph;
    font-size: 1.1rem;
    cursor: pointer;
}

.calScroll {
    height: 70vh;
    overflow-y: scroll;
}
.calInputFood, .calInputCal{
    padding: 11px;
    margin: 1px 5px;
    border-radius: 60px;
    border: 1px solid #ffdf85;
    font-size: inherit;
    font-family: -webkit-pictograph;
    outline: none;
}
.calInputFood:focus, .calInputCal:focus{
    border: 2px solid #ffdf85;
    margin: 0px 4px;
}
.calInputCal{
    width: 100px;
}
@media (max-width:600px){
    .calInput{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
    .calInputFood{
        width: 70%;
    }
    .calInputCal{
        width: 70%;
    }
    .calAddBtn{
        width: calc(70% + 22px);
    }
}