.calHeading{
    text-align: center;
    margin: 30px;
    font-size: 40px;
    font-family: fangsong;
}
.calContainer {
    width: 90%;
    padding: 15px 0px;
    margin: 10px auto;
    background: antiquewhite;
    box-shadow: 20px 20px 21px #aaaaaa, -20px -20px 21px #ffffff;
    border-radius: 18px;
}
.calCard {
    width: 80%;
    margin: 10px auto;
    padding: 10px 30px 25px;
    font-family: -webkit-pictograph;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #ccb99f, -5px -5px 10px antiquewhite;    
}
.calScroll {
    height: 70vh;
    overflow-y: scroll;
}
.boardUnfilled {
    height: 20px;
    width: 20px;
    background-color: white
}
.boardFilled {
    height: 20px;
    width: 20px;
    background-color: black;
}
.boardBorder {
    border: 20px solid;
    padding: 1px;
    display: grid;
    margin: auto;
    width: fit-content;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: repeat(8, auto);
}

